// variables------------
$para:#cdcdcd;
$para1:#343434;
$para2:#959595;
$border:#ebebeb;
$same-white:#fdfdfd;
$white:#ffffff;
$sami_orange:#f67777;
$gray_bue:#bc30d2;
$dark_pink:#462a2a;
$fress_blue:#078ca0;
$soft_green:#368dde;
$dasfooter:#0DCAF0;
$section_green:#e5cbe2;
$dark_red:#c21137;
$pinback:#dd98ca23;
$shadow:#b9b9b9;
$yellow:#ffff00;
$nav-green:#37573f;
$ancor:#5a5a5a;
$ancor-hover:#7DBA21;
$sadow2:#d7d7d7;
$h2:#5a5a5a;
$newCircle:#E05AE0;
$newCirclehover:#e05ae052;
$transp-color:#0653c547;
$blac333:#f1f1f1;
// fonts-----------------
$inter: 'Inter', sans-serif;
$jost: 'Jost', sans-serif;
$jura: 'Jura', sans-serif;
$kushan: 'Kaushan Script', cursive;
$lato: 'Lato', sans-serif;