@import "../variable/variable";
@import "../mixins/mixin";
/* Elements part---------*/
#Elements {
  background: $section_green;
  padding: 50px 0;
  .alert {
    .alert-capt {
      h3 {
        text-transform: capitalize;
      }
    }
  }
}
